<div class="col-sm-4">
  <div class="product-image-wrapper">
    <div class="single-products">
        <div class="productinfo text-center">
          <% if product.product_images.count > 0 %>
            <%= image_tag(product.product_images.first.image.url) %>
          <% else %>
            <%= image_tag("home/missing.jpg", alt: "") %>
          <% end %>
          <h2><%= product.price %></h2>
          <p><%= product.name %></p>
          <%= link_to '<i class="fa fa-shopping-cart"></i>Add to Cart'.html_safe, new_cart_path(:product_id => product), :class =>"btn btn-default add-to-cart", remote:true, method: :get %>
          <!-- <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a> -->
        </div>
        <div class="product-overlay">
          <div class="overlay-content">
            <h2><%= product.price %></h2>
            <p><%= product.name %></p>
            <%= link_to '<i class="fa fa-shopping-cart"></i>Add to Cart'.html_safe, new_cart_path(:product_id => product), :class =>"btn btn-default add-to-cart", remote:true, method: :get%>
          </div>
        </div>
    </div>
    <div class="choose">
      <ul class="nav nav-pills nav-justified">
        <li><%= link_to '<i class="fa fa-plus-square"></i>Add to wishlist'.html_safe, new_userwishlist_path(:product_id => product) %></li>
        <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
      </ul>
    </div>
  </div>
</div>