  <section id="form"><!--form-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
          <div class="login-form"><!--login form-->
            <h2>Login to your account</h2>
            <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <form action="#">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
              <span>
                <input type="checkbox" class="checkbox"> 
                Keep me signed in
              </span>
              <button type="submit" class="btn btn-default">Login</button>
            </form>
            <%end%>
          </div><!--/login form-->
        </div>
        <div class="col-sm-1">
          <h2 class="or">OR</h2>
        </div>
        <div class="col-sm-4">
          <div class="signup-form"><!--sign up form-->
            <h2>New User Signup!</h2>
            <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <%= devise_error_messages! %>
            <form action="#">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
              <button type="submit" class="btn btn-default">Signup</button>
            </form>
            <%end%>
          </div><!--/sign up form-->
        </div>
      </div>
    </div>
  </section><!--/form-->