<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Order Details</li>
      </ol>
    </div>
    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description"></td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
         <% @order_details.each do |order| %>
          <tr>
            <td class="cart_product">
              <p><%= order.id %></p>
            </td>
            <td class="cart_description">
              <h4><a href=""><%= order.product.description %></a></h4>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                <input class="cart_quantity_input" type="text" name="quantity" value=<%=order.quantity%> autocomplete="off" size="2">
              </div>
            </td>
            <td class="cart_total">
              <p class="cart_total_price"><%= order.amount %></p>
            </td>
            <td class="cart_delete">
              <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>        
    </div>
    <div class="col-sm-6">
      <h4>Billing Address</h4>
        <div class="panel panel-default">          
          <div class="panel-body"><%= @user_order.billing_address.address_1 %></div>
          <div class="panel-body"><%= @user_order.billing_address.address_2 %></div>
          <div class="panel-body"><%= @user_order.billing_address.city %></div>
          <div class="panel-body"><%= @user_order.billing_address.country %></div>
          <div class="panel-body"><%= @user_order.billing_address.state %></div>
          <div class="panel-body"><%= @user_order.billing_address.zipcode %></div>
        </div>
      </div>
      <div class="col-sm-6">
        <h4>Shipping Address</h4>
        <div class="panel panel-default">          
          <div class="panel-body"><%= @user_order.shipping_address.address_1 %></div>
          <div class="panel-body"><%= @user_order.shipping_address.address_2 %></div>
          <div class="panel-body"><%= @user_order.shipping_address.city %></div>
          <div class="panel-body"><%= @user_order.shipping_address.country %></div>
          <div class="panel-body"><%= @user_order.shipping_address.state %></div>
          <div class="panel-body"><%= @user_order.shipping_address.zipcode %></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class ="pull-left">
          <% if session[:coupon].present? %>
          <p> Coupon applied </p>
            <%= session[:coupon]["id"] %><br>
            <p> Coupon code is </p>
            <%= session[:coupon]["code"] %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class ="pull-right">
          <p>Total amount is: </p> 
          <%= @total %>          
        </div>
    </div>
     <div class ="pull-right">
          <%= link_to "Payment", root_path ,:output_flash=>"select_address", :class => "btn btn-default check_out"%>
        </div>
  </div>
</section> <!--/#cart_items-->