<section>
  <div class="container">
    <%= form_for @order do |order_form| %>
      <%= order_form.fields_for :order_details do |order_details| %>
      <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-body"><%= order_details.hidden_field :product_id %></div>
            <div class="panel-body">Quantity: <%= order_details.text_field :quantity %></div>
            <div class="panel-body">Amount: <%= order_details.text_field :amount %></div>
            <%= order_form.submit %>
          </div>
      <% end %>
    <% end %>
    </div>
  </div>
</section>