<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div class="container">
<section>
<div class ="pull-left" id="container" style="width: 600px; height: 400px; margin: 0 auto"></div>
<div class ="pull-right" id="containerbar" style="width: 600px; height: 400px; margin: 0 auto"></div>
</section>
</div>
<script>
  $(function () {
    $('#container').highcharts({
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie'
      },
      title: {
          text: "Orders between <%= @first_order.created_at.strftime('%d %b %Y')%> to <%= @last_order.created_at.strftime('%d %b %Y')%>"
      },
      tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
            style: {
                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
            }
          }
        }
      },
      series: [{
        name: 'Orders',
        colorByPoint: true,
        data: [{
            name: 'Completed Orders',
            y: <%= @order["completed"] %>
        }, {
            name: 'Shipped Orders',
            y: <%= @order["shipped"] %>            
        }, {
            name: 'Pending Orders',
            y: <%= @order["pending"] %>
        }, {
            name: 'Canceled Orders',
            y: <%= @order["canceled"] %>
        }]
      }]
    });
  });
</script>
<script>
  $(function () {
    $('#containerbar').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: 'Stacked column chart'
      },
      xAxis: {
        categories: <%= raw @coupon_code.to_json %>
      },
      yAxis: {
        min: 0,
        title: {
            text: 'Total coupon used'
        },
        stackLabels: {
            enabled: true,
            style: {
                fontWeight: 'bold',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            }
        }
      },
      series: [{
        data: <%= raw @coupon_id.to_json %>
      }]
    });
  });
</script>