<div id="contact-page" class="container">
  <div class="bg">
    <div class="row">       
      <div class="col-sm-12">                 
        <h2 class="title text-center">Contact <strong>Us</strong></h2>
        <!-- <div id="gmap" class="contact-map">
        </div> -->
      </div>          
    </div>      
    <div class="row">   
      <div class="col-sm-8">
        <div class="contact-form">
          <h2 class="title text-center">Get In Touch</h2>
          <div class="status alert alert-success" style="display: none"></div>
          <%= form_for @contact, url: new_contact_path, method: :post do |f| %>
            <div class="form-group col-md-6">
              <%= f.label :name %><br><%= f.text_field :name, :required => true, :class => "form-control", :placeholder => "Name"%>
            </div>
            <div class="form-group col-md-6">
              <%= f.label :email %><br><%= f.text_field :email, :required => true, :class => "form-control", :placeholder => "Email"%>
            </div>
            <div class="form-group col-md-12">
              <%= f.label :contact_us %><br><%= f.text_field :contact_us, :required => true, :class => "form-control", :placeholder => "Contact"%>
            </div>                   
            <div class="form-group col-md-12">
              <%= f.label :message %><br><%= f.text_area :message, :required => true, :class => "form-control", row: "8", :placeholder => "Message"%>
            </div>
            <div class="form-group col-md-12">
              <%= button_tag 'Submit', :class=> "btn btn-primary pull-right" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="contact-info">
          <h2 class="title text-center">Contact Info</h2>
          <address>
          <p>Navi Mumbai</p>
          <p>Unit No 501, Sigma IT Park, Plot No R-203,204, T.T.C. Industrial Area, MIDC Industrial Area, Rabale, Navi Mumbai, Maharashtra 400701</p>
          <p>India</p>
          <p>Mobile: 022 4050 0600</p>
          <p>Fax: 1-714-252-0026</p>
          <p>Email: india@neosofttech.com</p>
          </address>
          <div class="social-networks">
            <h2 class="title text-center">Social Networking</h2>
          <ul>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-youtube"></i></a>
            </li>
          </ul>
          </div>
        </div>
      </div>          
    </div>  
  </div>  
</div><!--/#contact-page-->