<section id="cart_items">
    <div class="container">
      <div class="breadcrumbs">
        <ol class="breadcrumb">
          <li><%= link_to 'Home', root_path %></li>
          <li class="active">Shopping Cart</li>
        </ol>
      </div>
      <div class="table-responsive cart_info">
        <table class="table table-condensed">
          <thead>
            <tr class="cart_menu">
              <td class="image">Item</td>
              <td class="description"></td>
              <td class="price">Price</td>
              <td class="quantity">Quantity</td>
              <td class="total">Total</td>
              <td></td>
            </tr>
          </thead>
           <tbody>
            <% @cart_products.each do |product,v| %>
            <tr id="product_<%= product.id %>">
              <td class="cart_product">
                <a href="#">
                  <% if product.product_images.count > 0 %>
                    <%= image_tag(product.product_images.first.image.url) %>
                  <% else %>
                    <%= image_tag("home/missing.jpg", alt: "") %>
                  <% end %></a>
              </td>
              <td class="product_description">
                <h4><%= link_to product.name%></h4>
                <p>Web ID: 1089772</p>
              </td>
              <td class="product_price">
                <p><%= product.price %></p>
              </td>
              <td class="product_quantity">
                <div class="cart_quantity_button">
                  <%=link_to  "+", user_carts_update_product_quantity_path(:product_id => product, product_action: "added") , remote:true%>
                 <input class="cart_quantity_input product_<%= product.id %>" type="text" name="quantity" value=<%=v[:quantity]%> autocomplete="off" size="2">
                  <%=link_to  "-", user_carts_update_product_quantity_path(product_id: product, product_action: "removed"), remote:true %>
                </div>
              </td>
              <td class="product_total">
                <p class="product_total_price_<%= product.id%>">
                  <%= v[:total_price]%>
                </p>
              </td>
              <td class="cart_delete">
                <%= link_to '<i class="fa fa-times"></i>'.html_safe,user_carts_remove_product_path(:product_id=>product),
              data: { confirm: 'Are you sure?' }, method: :delete,:class=>"cart_quantity_delete"%>
              </td>
            </tr>
            <% end %>
          </tbody>
         
        </table>
         <div class ="pull-right">
          <%#= link_to "Update",  user_carts_checkout_path, :class => "btn btn-default check_out"%>
          <%= link_to "Check Out", user_carts_checkout_path , :class => "btn btn-default check_out"%>
        </div>
      </div>
    </div>
  </section>
