<section id="cart_items">
    <div class="container">
      <div class="breadcrumbs">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Shopping Cart</li>
        </ol>
      </div>
      <div class="table-responsive cart_info">
        <table class="table table-condensed">
          <thead>
            <tr class="cart_menu">
              <td class="image">Item</td>
              <td class="description"></td>
              <td class="price">Price</td>
              <td class="quantity">Quantity</td>
              <td class="total">Total</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
          <% @cart_products.each do |product,v| %>
            <tr>
              <td class="cart_product">
                <a href="#">
                <% if product.product_images.count > 0 %>
                  <%= image_tag(product.product_images.first.image.url) %>
                <% else %>
                  <%= image_tag("home/missing.jpg", alt: "") %>
                <% end %></a>
              </td>
              <td class="cart_description">
                <h4><%= link_to product.name%></h4>
                <p>Web ID: 1089772</p>
              </td>
              <td class="cart_price">
                <p><%= product.price %></p>
              </td>
              <td class="cart_quantity">
                <div class="cart_quantity_button">
                  <%=link_to  "+", user_carts_add_path(:product_id => product) %>
                  <!-- <a class="cart_quantity_up" href=""> + </a> -->
                  <input class="cart_quantity_input" type="text" name="quantity" value=<%=v[:quantity]%> autocomplete="off" size="2">
                  <%=link_to  "-", user_carts_remove_path(:product_id => product) %>
                  <!-- <a class="cart_quantity_down" href=""> - </a> -->
                </div>
              </td>
              <td class="cart_total">
                <p class="cart_total_price">
                  <% @total=@total +  v[:total_price]%>
                  <%= v[:total_price]%>
                </p>
              </td>
              <td class="cart_delete">
                <%= link_to '<i class="fa fa-times"></i>'.html_safe,user_carts_remove_product_path(:product_id=>product),
              data: { confirm: 'Are you sure?' }, method: :delete,:class=>"cart_quantity_delete"%>
                <!-- <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a> -->
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <section id="do_action">
    <div class="container">
      <div class="heading">
        <h3>What would you like to do next?</h3>
        <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="chose_area">
            <ul class="user_option">
              <li>
                <input type="checkbox">
                <label>Use Coupon Code</label>
              </li>
              <li>
                <input type="checkbox">
                <label>Use Gift Voucher</label>
              </li>
              <li>
                <input type="checkbox">
                <label>Estimate Shipping &amp; Taxes</label>
              </li>
            </ul>
            <ul class="user_info">
              <li class="single_field">
                <label>Country:</label>
                <select>
                  <option>United States</option>
                  <option>Bangladesh</option>
                  <option>UK</option>
                  <option>India</option>
                  <option>Pakistan</option>
                  <option>Ucrane</option>
                  <option>Canada</option>
                  <option>Dubai</option>
                </select>
                
              </li>
              <li class="single_field">
                <label>Region / State:</label>
                <select>
                  <option>Select</option>
                  <option>Dhaka</option>
                  <option>London</option>
                  <option>Dillih</option>
                  <option>Lahore</option>
                  <option>Alaska</option>
                  <option>Canada</option>
                  <option>Dubai</option>
                </select>
              </li>
              <li class="single_field zip-field">
                <label>Zip Code:</label>
                <input type="text">
              </li>
            </ul>
            <a class="btn btn-default update" href="">Get Quotes</a>
            <a class="btn btn-default check_out" href="">Continue</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="total_area">
            <ul>
              <li>Cart Sub Total <span>$0</span></li>
              <li>Eco Tax <span>Free</span></li>
              <li>Shipping Cost <span>Free</span></li>
              <li>Total <span><%= @total %></span></li>
            </ul>
              <a class="btn btn-default update" href="">Update</a>
              <%= link_to "Check Out", user_carts_checkout_path , :class => "btn btn-default check_out"%>
              <!-- <a class="btn btn-default check_out" href="">Check Out</a> -->
          </div>
        </div>
      </div>
    </div>
  </section>