<section>
  <div class="container">
    <div class="row">
      <%= render 'welcome/left_sidebar' %>
      <div class="col-sm-9 padding-right">
        <div class="product-details"><!--product-details-->
          <div class="col-sm-5">
            <div class="view-product">
              <%= image_tag(@product.product_images.first.image.url) %>
              <h3>ZOOM</h3>
            </div>
            <div id="similar-product" class="carousel slide" data-ride="carousel">
              
                <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                  <% @product.product_images.each_with_index do |image, i| %>
                    <div class="item <%= 'active' if i == 0 %>">
                      <%= link_to image_tag(@product.product_images.first.image.url), @product.product_images.first.image.url %>
                    </div>                      
                  <% end %>
                </div>

                <!-- Controls -->
                <a class="left item-control" href="#similar-product" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                </a>
                <a class="right item-control" href="#similar-product" data-slide="next">
                <i class="fa fa-angle-right"></i>
                </a>
            </div>
          </div>

          <div class="col-sm-7">
            <div class="product-information"><!--/product-information-->
              <%= image_tag asset_path('new.jpg')%>
              <h2><%= @product.name %></h2>
              <%= image_tag asset_path('rating.png')%>
              <!-- <img src="images/product-details/rating.png" alt=""> -->
              <span>
                <span>Rs.<%= @product.price%></span>
                <label>Quantity:</label>            
                <input value=<%= @product.quantity %> >
                <%= link_to '<i class="fa fa-shopping-cart"></i>Add to Cart'.html_safe, add_to_cart_path(:id => @product), :class =>"btn btn-default add-to-cart"%>
                <!-- <button type="button" class="btn btn-fefault cart">
                  <i class="fa fa-shopping-cart"></i>
                  Add to cart
                </button> -->
              </span>
              <p><b>Availability:</b> In Stock</p>
              <p><b>Condition:</b> New</p>
              <p><b>Brand:</b> E-SHOPPER</p>
              <%= image_tag asset_path('share.png')%>
              <!-- <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt=""></a> -->
            </div><!--/product-information-->
          </div>
        </div><!--/product-details-->
        
        <div class="category-tab shop-details-tab"><!--category-tab-->
          <div class="col-sm-12">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade active in" id="reviews">
              <div class="col-sm-12">
                <ul>
                  <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                  <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                  <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p><b>Write Your Review</b></p>
               <!--  <%#= form_for @product do |f| %>
                  <span>
                    <%#= f.label :name %><br><%#= f.text_field :name, :required => true, :placeholder => "Your Name"%>
                    <%#= f.label :email %><br><%#= f.text_field :email, :required => true, :placeholder => "Email Address"%>
                  </span>
                  <%#= f.label :message %><br><%#= f.text_area :message, :required => true, :class => "form-control", row: "8", :placeholder => "Message"%>
                  <b>Rating: </b> <%#= image_tag asset_path('rating.png')%>
                  <%#= button_tag 'Submit', :class=> "btn btn-primary pull-right" %>          
                <%# end %> -->
                
                <form action="/">
                  <span>
                    <input type="text" name="name" placeholder="Your Name">
                    <input type="email" name="email"placeholder="Email Address">
                  </span>
                  <textarea name="message"></textarea>
                  <b>Rating: </b> <%#= image_tag asset_path('rating.png')%>
                  <button type="button" class="btn btn-default pull-right">
                    Submit
                  </button>
                </form>


              </div>
            </div>
            
          </div>
        </div><!--/category-tab-->
          <%= render 'welcome/recommended_items'%>
      </div>
    </div>
  </div>
</section>